<article class="post">
    <header>
        <h2 class="post__title">
            Lorem
        </h2>
    </header>

    <div class="post__content">
        <p>
            Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit.
            Alias nihil ex praesentium 
            molestiae maiores molestias iusto,
            architecto magni a doloremque excepturi necessitatibus commodi voluptatibus explicabo, mollitia dignissimos ea. Optio explicabo labore vitae! Corporis, eos distinctio fuga accusamus perspiciatis pariatur! Dolore saepe tenetur repellat autem corrupti unde nisi libero, provident perferendis dolorum itaque voluptates tempora neque eum animi consequuntur quisquam error laboriosam delectus minima repudiandae porro?
        </p>
    </div>
</article>
